In [1]:
import mysql.connector
import pandas as pd
import csv
from mysql.connector import errorcode

In [2]:
mydb = mysql.connector.connect(host = 'localhost', 
                       user = 'root',                        
                        )
mydb.database="diversity"
cursor = mydb.cursor()

###### Usecase1:Count The number of species in each state

In [3]:
query=('select parks.state,count(species.species_id) from parks,\
        species  where parks.park_name=species.park_name group by parks.state;')
data=()
cursor.execute(query,data)
for row in cursor:
    print(row)

('AK', 11681)
('AR', 1943)
('AZ', 5292)
('CA', 17283)
('CA, NV', 4362)
('CO', 6371)
('FL', 4644)
('HI', 5793)
('KY', 2471)
('ME', 1694)
('MI', 1396)
('MN', 1453)
('MT', 2552)
('ND', 1161)
('NM', 1535)
('NV', 2624)
('OH', 1937)
('OR', 3570)
('SC', 2296)
('SD', 2754)
('TN, NC', 6471)
('TX', 3992)
('UT', 6835)
('VA', 4634)
('WA', 7026)
('WY', 2014)
('WY, MT, ID', 3934)

###### Usecase2:Count the number of endangered species in each state and list them in descending order

In [4]:
query=('select parks.state,count(species.species_id) from parks,species \
        where parks.park_name=species.park_name \
        and (species.abundance="rare" or species.abundance="uncommon")\
        group by parks.state order by -count(species.species_id);')
data=()
cursor.execute(query,data)
for row in cursor:
    print(row)

('CA', 4991)
('UT', 3695)
('AK', 2578)
('FL', 1962)
('TN, NC', 1844)
('WA', 1526)
('CO', 1466)
('VA', 1390)
('HI', 1373)
('WY, MT, ID', 1124)
('OH', 987)
('WY', 906)
('SD', 836)
('MT', 788)
('AZ', 641)
('MI', 598)
('SC', 473)
('ME', 441)
('NV', 372)
('CA, NV', 319)
('AR', 298)
('TX', 262)
('MN', 187)
('ND', 140)
('OR', 136)
('KY', 123)
('NM', 3)

###### Usecase3:Count the number of species of the maximum park

In [5]:
query=('select species.park_name,count(species.species_id) \
        from parks,species \
        where species.park_name=\
       (select parks.park_name from parks where parks.acres=(select max(parks.acres) from parks))\
       group by species.park_name')
data=()
cursor.execute(query,data)
for row in cursor:
    print(row)

('Wrangell - St Elias National Park and Preserve', 100184)

###### Usecase4:Count the species of mammals in each state and list them in descending order

In [6]:
query=('select parks.state,count(*) from parks,\
        species  where parks.park_name=species.park_name and species.category="mammal" \
        group by parks.state order by -count(species.category) ;')
data=()
cursor.execute(query,data)
for row in cursor:
    print(row)

('CA', 602)
('AK', 399)
('UT', 364)
('CO', 292)
('AZ', 270)
('WA', 228)
('CA, NV', 211)
('TX', 165)
('SD', 153)
('NV', 103)
('OR', 96)
('TN, NC', 94)
('NM', 92)
('WY, MT, ID', 78)
('FL', 75)
('WY', 74)
('MT', 69)
('ND', 66)
('VA', 63)
('MN', 63)
('KY', 56)
('ME', 55)
('AR', 52)
('OH', 47)
('SC', 39)
('HI', 30)
('MI', 26)

###### Usecase5:Count the number of native species in each state and list them in descending order

In [7]:
query=('select parks.state,count(species.nativeness) from parks,\
        species  where parks.park_name=species.park_name AND species.nativeness="native" \
        group by parks.state order by -count(species.nativeness);')
data=()
cursor.execute(query,data)
for row in cursor:
    print(row)

('CA', 10052)
('AK', 8847)
('UT', 6141)
('WA', 4847)
('AZ', 4687)
('CO', 4489)
('TX', 3681)
('HI', 3116)
('TN, NC', 2631)
('FL', 2567)
('MT', 2180)
('WY, MT, ID', 2043)
('KY', 1816)
('SD', 1695)
('OH', 1595)
('CA, NV', 1578)
('WY', 1577)
('VA', 1475)
('NM', 1397)
('OR', 1338)
('MN', 1270)
('MI', 1188)
('ME', 1175)
('SC', 1156)
('AR', 1152)
('NV', 1081)
('ND', 858)