In [6]:
import psycopg2
import pymongo
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from bson import json_util, ObjectId
import pandas as pd

In [7]:
conn = psycopg2.connect(database='postgres',user='postgres', password='')

In [9]:
df=pd.read_sql('''SELECT row_to_json(europeansoccer) FROM europeansoccer''', con=conn)
df.head(3)

DatabaseError: Execution failed on sql 'SELECT row_to_json(europeansoccer) FROM europeansoccer': relation "europeansoccer" does not exist
LINE 1: SELECT row_to_json(europeansoccer) FROM europeansoccer
                                                ^