In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
from sklearn.datasets import load_boston

In [3]:
data = pd.read_csv("Team1.csv", encoding = 'latin1')
data.head()

   id  team_api_id     team_long_name team_short_name
0   1         9987           KRC Genk             GEN
1   2         9993       Beerschot AC             BAC
2   3        10000   SV Zulte-Waregem             ZUL
3   4         9994   Sporting Lokeren             LOK
4   5         9984  KSV Cercle Brugge             CEB

In [4]:
data.shape

(299, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 4 columns):
id                 299 non-null int64
team_api_id        299 non-null int64
team_long_name     299 non-null object
team_short_name    299 non-null object
dtypes: int64(2), object(2)
memory usage: 9.4+ KB

In [6]:
data.isnull().sum()

id                 0
team_api_id        0
team_long_name     0
team_short_name    0
dtype: int64

In [7]:
data.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
Length: 299, dtype: bool